.content-wrapper {
  padding: 10px;
}

.header {
  font-family: "Quicksand", "sans-serif";
  color: #acacc4;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.city-txt {
  font-size: 3rem;
}

.day-txt {
  font-size: 2rem;
  color: #7a2231;
}

.city-icon {
  margin-top: -3rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

.header-content {
  display: flex;
  flex-direction: column;

}
.timestamp-seeweekly{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.current-weather-info {
  border: 1px solid #acacc4;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  padding: 10px;
  align-items: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=0, Color=#807EA1)";
  /*IE 8*/
  -moz-box-shadow: 0 1px 6px #807ea1;
  /*FF 3.5+*/
  -webkit-box-shadow: 0 1px 6px #807ea1;
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 1px 6px #807ea1;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color=#807EA1);
  /*IE 5.5-7*/
}

.temperature {
  font-size: 2.8rem;
}

.precip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.precip p {
  margin-top: -20px;
}

.current-weather-info-desc {
  border: 1px solid #acacc4;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  padding: 10px;
  align-items: center;
  width: 20rem;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=0, Color=#807EA1)";
  /*IE 8*/
  -moz-box-shadow: 0 1px 6px #807ea1;
  /*FF 3.5+*/
  -webkit-box-shadow: 0 1px 6px #807ea1;
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 1px 6px #807ea1;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color=#807EA1);
  /*IE 5.5-7*/
}

.hourly {
  font-family: "Quicksand", "sans-serif";
  font-size: medium;
}

.hourly h1 {
  color: #acacc4 !important;
  text-align: center;
}

.hour-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.each-hour-box {
  border: 1px solid #acacc4;
  border-radius: 10px;
  display: flex;
  color: #acacc4;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: fit-content;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=0, Color=#807EA1)";
  /*IE 8*/
  -moz-box-shadow: 0 1px 6px #807ea1;
  /*FF 3.5+*/
  -webkit-box-shadow: 0 1px 6px #807ea1;
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 1px 6px #807ea1;
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color=#807EA1);
  /*IE 5.5-7*/
}

.show-full-hourly {
  display: flex;
  justify-content: center;
  align-items: center;
}
.show-full-hourly h1{
  text-align: center;
  color: #7a2231;
  border: 1px solid #a7a7b4;
  padding: 5px;
  cursor: pointer;
  width: fit-content;
  border-radius: 5px;
  font-family: 'Quicksand', 'sans-serif';
}

.show-full-hourly h1:hover{
  transform: scale(1.05);
  transition: 0.3s linear;
}

.show-full-hourly h1:active{
  transform: scale(0.95);
  transition: 0.3s linear;
}

.weekly h2{
  font-size: medium;
  color: #807EA1;
  border: 1px solid #807ea1;
  border-radius: 5px;;
  padding: 3px;
}

.weekly {
  cursor: pointer;
}

.weekly h2:hover{
  background-color: #7a2231;
}

.error{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  color:#7a2231;
  font-size: x-large;
  font-family: 'Quicksand', 'sans-serif';
}

@media screen and (max-width:768px) {
  .header-icon{
    justify-content: center;
    align-items: center;
  }

  .city-txt{
    justify-content: center;
    align-items: center;
  }
  .day-txt{
    margin-bottom: -20px;
    text-align: center;
  }
  .city-icon{
    margin: 0 0 0 0;
  }

  .timestamp-seeweekly{
    flex-direction: column;
  }
}