@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Quicksand&family=Raleway&display=swap');

body {
  background-color: #1d1d2c;
  margin: 0;
  box-sizing: border-box;
}