@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Quicksand&family=Raleway&display=swap");

body {
  background-color: #11111b;
  margin: 0;
  box-sizing: border-box;
}
